[user]
    name = Jacob Alheid
    email = shakefu@gmail.com
[push]
    default = simple
[merge]
    tool = meld
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = "BASE=\"$BASE\" /usr/local/bin/icdiff --is-git-diff --line-numbers --no-bold --numlines 3 --color-map 'line-numbers:black' \"$LOCAL\" \"$REMOTE\""
[core]
    editor = /usr/local/bin/vi
	hooksPath = $HOME/.githooks
